/* LEAFLET MAP STYLING */
/* --------- */
/* --------- */
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } 
.info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } 
.legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }

/* OTHER STYLING */
/* --------- */
/* --------- */
body {
    /* this is the background where the slider is */
    /* leaflet map background color is #CAD2D3 */
    background-color: #d095e9;
}

/* SLIDER STYLING */
/* --- */
.slider {
    margin-top: 13px;
    -webkit-appearance: none;
    /* width: 100%; */
    width: calc( 100vw - 5px );
    height: 10px;
    border: solid 1px #93c77d;
    border-radius: 5px;   
    /* background: #d3d3d3; */
    background: #AEE995;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #414141;
    border-radius: 30%; 
    background: #AEE995;
    cursor: pointer;
}

/* altering the month and year that display at the bottom */
.monyear {
    display:flex;
    justify-content:flex-start;
    margin-left: 20px;
    font-family: "Dosis", serif;
    font-weight: bold;
    color: #414141;
    font-size: 19px;
    margin-top: -10px;
}

.labels {
    width: 180px;
    display: flex;
}

/* says "month" or "year" */
.label {
    border: 2px solid #93c77d;
    border-radius: 5px;
    /* margin-top modifies the position of the label relative to the actual mon/yr */
    margin-top: 17px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #AEE995;
}

/* ANIMATE STYLING */
/* --- */
.animate {
    display:flex;
    justify-content:center;
    font-family: "Dosis", serif;
    font-weight: bold;
    font-size: 19px;
    color: #414141;
    margin-top: -65px;
    margin-right: 200px;
}

#pause {
    margin-left: -5px;
}

#play, #pause {
    cursor:pointer;
}

/* BUTTON STYLING */
/* --- */
.buttons {
    display:flex;
    justify-content: flex-end;
    /* margin-top: -50px; */
    margin-top: -46px;
    margin-right: 20px;
}

button {
    cursor:pointer;
    border-radius: 5px;
    height: 30px;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    /* adds spacing in between each button */
    margin-left: 10px;
    border: 2px solid darkgray;
    background-color: lightgray;
}

button, #polltype {
    font-family: "Dosis", serif;
    font-weight: bold;
    font-size: 19px;
    color: #414141;
}

#polltype {
    /* moves position of the pollen type label relative to the buttons */
    margin-top: 2px;
    /* space in between the label and the buttons */
    margin-right: 5px;
}

/* styling each individual button */
/* #all {
    border: 2px solid #ff778e;
    background-color:lightpink;
} */
/* could potentially use variables for the hover: https://www.w3schools.com/css/css3_variables.asp */
#all:hover {
    background-color: #ff778e;
    border-color: #ff778e;
}

/* #dbf {
    border: 2px solid darkgreen;
    background-color:lightgreen;
} */
#dbf:hover {
    background-color: darkgreen;
    border-color: darkgreen;
}

/* #enf {
    border: 2px solid darkgoldenrod;
    background-color: yellow;
} */
#enf:hover {
    background-color: orange;
    border-color: orange;
}

/* #gra {
    border: 2px solid brown;
    background-color: rgb(213, 129, 129);
} */
#gra:hover {
    background-color: peru;
    border-color: peru;
}

/* #rag {
    border: 2px solid crimson;
    background-color: rgb(240, 122, 122);
} */
#rag:hover {
    background-color: red;
    border-color: red;
}

/* change this so that it individually matches with each element's border color */
.active {
    color: white !important;
    /* border-color: white !important;
    border-width: 3px !important; */
    border: 3px solid white !important;
}
#all.active {
    background-color: #ff778e;
}
#dbf.active {
    background-color: darkgreen;
}
#enf.active {
    background-color: orange;
}
#gra.active {
    background-color: peru;
}
#rag.active {
    background-color: red;
}