/* LEAFLET MAP STYLING */
/* --------- */
/* --------- */
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }

/* OTHER STYLING */
/* --------- */
/* --------- */
body {
    /* this is the background where the slider is */
    /* leaflet map background color is #CAD2D3 */
    background-color: #d095e9;
}

/* altering the month and year that display at the bottom */
.monyear {
    display:flex;
    justify-content:flex-start;
    margin-left: 30px;
    font-family: "Dosis", serif;
    font-weight: bold;
    color: #414141;
    font-size: 19px;
    margin-top: -10px;
}

.labels {
    width: 200px;
    display: flex;
}

/* says "month" or "year" */
.label {
    border: 2px solid #93c77d;
    border-radius: 5px;
    /* margin-top modifies the position of the label relative to the actual mon/yr */
    margin-top: 17px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #AEE995;
}

/* SLIDER STYLING */
/* --------- */
/* --------- */
.slider {
    margin-top: 13px;
    -webkit-appearance: none;
    /* width: 100%; */
    width: calc( 100vw - 5px );
    height: 10px;
    border: solid 1px #93c77d;
    border-radius: 5px;   
    /* background: #d3d3d3; */
    background: #AEE995;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #414141;
    border-radius: 30%; 
    background: #AEE995;
    cursor: pointer;
}